@use '../../styles/globals' as *;

.skip-link {
  position: absolute;
  bottom: 100%;
  left: 0;
  background: var(--bg);
  color: var(--text);
  padding: 8px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}