@use './globals' as *;

body {
  font: $size-3/1.2 $open;
  color: var(--text);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $figtree;
  margin: 0;
  line-height: 1.2;
  font-weight: 700;
	margin: $space-32 0 $space-16;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;

  @include tablet {
    font-size: 1.75rem;
  }
}

h3 {
  font-size: 1.75rem;

  @include tablet {
    font-size: 1.5rem;
  }
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
	font-size: $size-3;
	line-height: 1.75;
	margin: 0;

	+ p {
		margin-top: $space-16;
	}
}

.page-title {
	font-size: $size-10;
	margin-top: 0;
  position: relative;
  display: inline-block;
  isolation: isolate;

  &::before {
    content: '';
    position: absolute;
    left: -0.125em;
    right: -0.125em;
    bottom: 7px;
    height: 10px;
    background: var(--accent);
    transform: skewX(-12deg);
    border-radius: 2px;
    z-index: -1;
  }

	@include tablet {
		font-size: $size-9;
	}
}

.lead-title {
  font-size: 2rem;
  margin-top: $space-12;

  @include tablet {
    font-size: 1.75rem;
    margin: $space-12 0;
  }
}

.section-title {
	font-size: $size-6;

  @include tablet {
    margin-top: $space-24;
  }
}

.eyebrow {
	font-size: $size-2;
	text-transform: uppercase;
  font-weight: 700;
}

.drop-cap::first-letter {
  float: left;
  font-size: clamp(4rem, 8vw, 7rem);
  line-height: 0.8;
  padding-right: 0.6rem;
  font-weight: 700;
  color: var(--text);
}