@use '../../styles/globals' as *;

.site-header {
  height: $header-height;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  transition:
    transform 300ms ease,
    padding 300ms ease,
    height 300ms ease,
    background-color 300ms ease;

  &.is-hidden {
    transform: translateY(-100%);
  }

  &.is-scrolled {
    height: $header-height-mobile;
  }

  &.is-interior {
    background: var(--bg);
    border-bottom: var(--border-weight) solid var(--border);
  }

  @include tablet {
    height: $header-height-mobile;
  }
}