@use '../../styles/globals' as *;


.work {
	&-role {
		font-size: $size-2;
		font-weight: 400;
		margin-top: 0;
	}


	&-dates {
		font-size: $size-1;
		font-weight: 400;
		margin-top: 0;
	}

	&-details {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: baseline;
		margin-bottom: $space-16;
	}

	&-module {
		display: flex;
		gap: $space-24;
		flex-direction: column;
	}

	&-module-img {
  	margin: 0;
  	aspect-ratio: 3 / 2;
  	overflow: hidden;
	}

	&-module-buttons {
		display: flex;
		gap: $space-8;
		flex-wrap: wrap;
	}

	.section-title {
			margin-bottom: 0;
	}
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: $space-8;

  margin: $space-24 0 $space-32;
  padding: 0;
  list-style: none;

  li {
    display: inline-flex;
    align-items: center;

    padding: $space-4 $space-12;

    border-radius: $radius;

    background: var(--bg-light);
    color: var(--text);

		font-weight: 600;
    font-size: $size-1;
    white-space: nowrap;
  }
}

.work-section-header {
	margin-bottom: $space-32;

	h2 {
		margin-bottom: $space-8;
	}
}

.work-grid,
.work-next {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: $space-32;

  @include mobile {
    grid-template-columns: 1fr;
		gap: $space-16;
  }
}

.work-card,
.work-next-content {
  display: flex;
  flex-direction: column;
  gap: $space-16;
}

.work-header {
  .section-title {
	margin: 0;
  }
}

.work-img {
  margin: 0;
  aspect-ratio: 3 / 2;
  overflow: hidden;
  background: var(--surface);
}

.work-img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: $radius;
}

.work-content {
  display: grid;
  gap: $space-16;

	.tag-list {
		margin: 0;
	}

	h3, p {
		margin: 0;
	}
}

.work-button {
	width: 100%;
}